:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --hover-accent-color: #2196f3e5;
  --bg-color: #2f303a;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #eeeeee;
  --border-header-color: solid #ececec;
  --icon-color: #afb1b8;
  --ourwork-onimage-color: #2f303acc;
  --backdrop-color: #00000033;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.header {
  border-bottom: 1px var(--border-header-color);
}

.header_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link:hover,
.header_link:focus,
.header_contacts_link:hover,
.header_contacts_link:focus,
.header_contacts_link:hover .header_icon,
.header_contacts_link:focus .header_icon {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header_icon {
  fill: var(--icon-color);
  vertical-align: middle;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_link.current {
  color: var(--accent-color);
}

.header_link.current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: 0;
}

.header_contacts_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header_logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header_logo_word {
  color: var(--secondary-title-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.header_navigation {
  display: flex;
  align-items: center;
}

.header_menu {
  display: flex;
  align-items: center;
}

.header_contacts_list {
  display: flex;
  align-items: center;
}

.header_contacts_list {
  margin-left: auto;
}

.header_item:not(:last-child) {
  margin-right: 50px;
}

.header_contacts_item:not(:last-child) {
  margin-right: 50px;
}

.main_hero_btn {
  width: 200px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-title-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.hero {
  width: 1600px;
  margin: auto;
  background: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero_title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-container {
  width: 696px;
}
/*# sourceMappingURL=main.css.map */